/*---------------------------------------- GENERAL -------------------------------*/
body {
    color: #036e92;
    background: url(pexels-luis-quintero-3101527.jpg) center no-repeat;
    background-size: cover;
}

p {
    line-height: 1.5rem;
}

h2 {
    line-height: 2rem;
    background-color: rgb(219, 219, 219);
    width: 30vw;
    text-align: center;
    border-radius: 20px;
    margin: 2rem;
    color:#023e8a;
    font-size: 1.3rem;
    padding: 0.3rem;
}

h3 {
    margin: 1rem auto;
    font-weight: bold;
}

h4 {
    margin: 2rem auto 1rem auto;
    color:#023e8a;
    text-decoration: underline;
}

h5 {
    line-height: 2.5rem;
    color:#1b539b;
}

h6 {
    line-height: 2rem;
    color: #0a5aa5;
}

ul {
    padding-left: 5vw;
}

a {
    text-decoration: none;
    color: #0a5aa5;
    font-style: italic;
}

a:hover {
    color: #023e8a;
    font-weight: bold;
}

span {
    color: red;
}

/*------------------------------------------ HEADER --------------------------------*/
header {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(248, 248, 248, 0.5);
    padding: 20px;
    color:#023e8a;
    font-weight: bold;
}

h1 {
    font-size: 3rem;
}

header p {
    font-size: 1.3rem;
}

img {
    display: block;
    border-radius: 50%;
    margin: auto;
    transform: scale(0.8);
}

/*-------------------------------------------- MAIN --------------------------------*/
main {
    display: grid;
    grid-template-areas: "a b";
    margin: 5vw;
}

/*-------------------------------------------- DIVS --------------------------------*/
.divs{
    width: 40vw;
}

/*------------------------------------------ CONTACT --------------------------------*/
#pcontact {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    line-height: 2.5rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    height: 40px;
    width: 30vw;
    border-radius: 3px;
    border: solid 2px #036e92;
}

label {
    line-height: 1.5rem;
}

textarea {
    width: 50vw;
    border-radius: 3px;
    border: solid 2px #036e92;
}

button {
    background-color: #036e92;
    border: solid 2px #023e8a;
    color: rgb(253, 239, 155);
    height: 30px;
    border-radius: 3px;
    font-weight: bold;
}

button:hover {
    background-color: rgb(253, 239, 155);
    color: #036e92
}

/*-------------------------------------------- MEDIA --------------------------------*/
@media only screen and (max-width: 815px) {
    main {
        display: flex;
        flex-direction: column;
        grid-template-areas: "a" 100vw;
    }

    .divs {
        width: 90vw;
    }

    h2 {
        margin: 2rem auto;
        min-width: 60vw;
        width: min-content;
    }

    header {
        flex-direction: column;
        justify-content: center;
        padding: 5px;
    }
}
